// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn {
  margin-top: 20px;
}

.form-control {
  margin: 0 0 15px 0;
}

a {
  text-decoration: none !important;
}

// #details-article {
//   background-color: #f2f2f2;
//   padding: 20px;
//   border-radius: 5px;
//   margin-top: 15px;
//   border: 2px solid #c0c0c0;
// }

.container {
  margin-top: 20px;
}

.header {
  background-color: #f2f2f2;
  padding: 10px;
}

i {
  margin-left: 10px;
}
