// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn {
  margin-top: 20px;
  border-color: #2fa78d !important;
  background-color: #2fa78d !important;
  &:hover {
    border-color: #207461 !important;
    background-color: #207461 !important;
  }
}

.form-control {
  margin: 0 0 15px 0;
}

a {
  text-decoration: none !important;
  color: #2fa78d !important;
  opacity: 0.6;
  &:hover {
    text-decoration: underline !important;
    opacity: 1;
  }
}

// #details-article {
//   background-color: #f2f2f2;
//   padding: 20px;
//   border-radius: 5px;
//   margin-top: 15px;
//   border: 2px solid #c0c0c0;
// }

.container {
  margin-top: 20px;
}

.header {
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 2px solid #b9b9b9;
}

.header a {
  color: #333333 !important;
  text-decoration: none !important;
  opacity: 1 !important;
  &:hover {
    color: #333333 !important;
  }
}

i {
  margin-left: 10px;
  font-size: 30px;
}
